body{
    background: rgba(242, 248, 160, 1)

}

.pic{
  transition: all 1s;
  transition-delay:.2s;
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, .3);



}
.pic:hover{
  box-shadow: 5px 5px 20px 10px rgba(0,0,0,.7);
}

.pic:active{
    opacity:.4;

}
